.container {
  display: flex;
  align-items: center;
  height: 100%;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 8px 4px #e6e6e6;
    width: 100%;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      // align-items: flex-start;
      align-items: stretch;
      width: auto;
    }
  }

  .thumbnailWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    max-height: 100%;
    position: relative;
    overflow: hidden;
    @include tablet {
      width: 45%;
      justify-content: unset;
    }
  }
  .thumbnail {
    height: auto;
    width: auto;
    max-width: 100%;
    @include tablet {
      height: 100%;
      width: auto;
      max-width: unset;
      position: absolute;
      object-position: -5rem;
    }
    @include desktop_small {
      height: auto;
      width: auto;
      position: relative;
      object-position: unset;
    }
  }

  .infoWrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 40px;
      width: 55%;
    }
  }

  .titleWrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    @include tablet {
      align-items: flex-start;
    }
  }
  .name {
    text-align: center;
    font-family: $regularText;
    color: $darkText;
    font-size: 40px;
  }

  .features {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 85%;
    margin-bottom: 20px;
    @include tablet {
      margin-right: 40px;
      align-items: center;
      width: auto;;
    }
    @include desktop_small {
      margin-bottom: 0;
    }

    .professions {
      @include tablet {
        display: flex;
        flex-wrap: wrap;
      }
      @include desktop_small {
        flex-direction: column;
      }

      p {
        @include tablet {
          margin-right: 10px;
        }
        @include desktop_small {
          margin-right: 0;
        }
      }
    }
  }

  .borderRight {
    @include desktop_small {
      border-right: 1px solid #e8e8e8;
      padding-right: 40px;
      margin-bottom: 30px;
    }
  }

  .title {
    margin-bottom: 10px;
    font-family: $regularText;
  }

  .table {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  .left {
    position: relative;
    left: 0;
    margin-right: 30px;
  }
  .charDesc {
    color: $lightText;
    font-family: $regularText;
    font-weight: bold;
    font-size: $mobileSubtitle;
    height: 30px;
    @include tablet {
      font-size: $tabletSubtitle;
    }
    @include desktop_small {
      font-size: $desktopSubtitle;
    }
  }

  .right {
    position: relative;
    right: 0;
  }
  .charFeature {
    color: $lightText;
    font-family: $regularText;
    font-weight: 700;
    font-size: $mobileText;
    height: 30px;
    @include tablet {
      font-size: $tabletText;
      display: flex;
      align-items: center;
    }
    @include desktop_small {
      font-size: $desktopText;
    }
  }
  
  .friends {
    width: 85%;
    @include tablet {
      width: 100%;
      align-items: flex-start;
    }
  }
}

