//colors
$text: #5f5f5f;
$darkText: #353535;
$lightText: #777777;


//font-sizes
$mobileText: 12px;
$tabletText: 13px;
$desktopText: 14px;

$mobileSubtitle: 15px;
$tabletSubtitle: 18px;
$desktopSubtitle: 22px;

//font-families
$regularText: 'Roboto', sans-serif;
$provisional: 'Abril Fatface', cursive;
$courier: 'Courier Prime', monospace;